.main-image-container {
    position: relative;
    padding: 20px;
  }
  
  .main-image {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  .overview {
    font-size: large;
  }

  .arrow-prev,
  .arrow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .arrow-prev {
    left: 20px;
  }
  
  .arrow-next {
    right: 20px;
  }  